fastapi
uvicorn[standard]
python-multipart
websockets
gspread
oauth2client
pandas
requests
Pillow
selenium
webdriver-manager
gspread-dataframe
undetected-chromedriver
openpyxl
google-generativeai
deep-translator
opencv-python-headless
